{% extends 'blog_post/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}        
            <div class="date2">
                {{ post.published_date }}
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
                {% endif %}
            </div>
        {% else %}
            <div class="date2">
                <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                <a class="btn btn-default" href="{% url 'draft_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}

