{% extends 'blog_post/base.html' %}

{% block content %}
    <h2>New post</h2>
    <form method="POST" class="post-form">
    {% csrf_token %}
        {{ form.as_p }}
            <button type="submit" class="save btn btn-success">Save</button>
        </form>
    {% endblock %}